* {
    max-width: 1000px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #383838;
    font-weight: 300;
    font-size: 20px;
}

.text-muted {
    color: #383838;
}

.icon-attibution {
    font-size: 10px;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 70px;
    color: #202020;
}

.title-logo {
    margin-top: 10px;
}

hr {
    height: 1px;
    background-color: black;
}

a {
    color: #585858;
}

.col-md-4 {
    text-align: left;
}

.col-md-11 {
    text-align: left;
}

@media (max-width: 991px) {
    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .title-logo {
        display: block;
        margin: 10px auto 10px;
    }

    .icon-attibution {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .title-super {
        font-size: 45px;
    }

}